@charset "UTF-8";
/*header*/
/*nav*/
body,
.nav,
.nav-menu,
.nav-menu ul,
.search-box input,
.search-box button {
  padding: 0;
  margin: 0; }

body {
  background: #101010; }

.nav,
.nav-menu,
.nav-menu ul {
  list-style: none; }

/*header style*/
.header {
  position: relative;
  box-sizing: border-box;
  width: 1224px;
  height: 50px;
  border: 5px solid #393837;
  margin: 180px auto;
  background: #101010; }
  .header:before {
    z-index: 1;
    position: absolute;
    top: -5px;
    left: -24px;
    width: 30px;
    height: 50px;
    content: "";
    background: url(../images/header2.png) no-repeat; }

/*nav-menu*/
.nav {
  float: left;
  box-sizing: border-box;
  width: 992px;
  height: 38px;
  margin: 1px auto; }
  .nav ul {
    z-index: 1;
    position: absolute;
    display: none;
    top: 28px;
    left: 5px;
    margin: 5px;
    padding: 5px;
    display: none;
    background: transparent; }
    .nav ul ul {
      left: 98%;
      top: -10px; }
      .nav ul ul li {
        display: block;
        float: none; }
  .nav li {
    float: left;
    position: relative;
    padding: 9px 22px; }
  .nav > li {
    background: #171715; }
  .nav a {
    float: left;
    color: #ffffff;
    font: bold 17px Arial, Helvetica;
    text-decoration: none;
    text-transform: uppercase; }

/*高亮*/
.nav .active:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 35px;
  width: 38px;
  height: 2px;
  background: linear-gradient(to right, #454443 0%, #d0d0cf 50%, #585756 100%); }

.nav .active:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 35px;
  width: 36px;
  height: 4px;
  background: #454443;
  opacity: 0.3; }

/*clear both*/
.nav:before,
.anv:after {
  content: "";
  display: table; }

.nav:after {
  clear: both; }

/*nav-menu hover*/
.nav li:hover > a {
  color: #f4d401;
  border: none; }

.nav li:hover > ul {
  display: block; }

.nav-menu ul {
  width: 100%; }

.nav-menu li {
  background: #393837;
  height: 38px;
  padding: 0;
  text-align: center;
  width: 100%; }

.nav-menu li:hover {
  z-index: 1;
  box-sizing: border-box;
  border-bottom: 1px solid #434343;
  border-top: 1px solid #434343;
  background: linear-gradient(#080808, #101010, #171715); }
  .nav-menu li:hover > a {
    text-indent: 1em; }
  .nav-menu li:hover > .list-drop-warning-down {
    display: none; }

.nav-menu a {
  display: inline-block;
  width: 85%;
  height: 36px;
  line-height: 36px;
  padding: 0 0 0 1px;
  float: none;
  color: #bebebe;
  font-size: 15px;
  text-align: left;
  text-transform: uppercase; }

/*nav-menu line*/
.nav-menu a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 8%;
  width: 82%;
  border-bottom: 1px solid #40403f;
  border-top: 1px solid #202020; }

.nav-menu li:hover > a:after,
.nav-menu li:first-child > a:after {
  border: none; }

.nav-menu li:first-child {
  border-top: none; }

.nav ul:after, .nav ul:after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #0f0f0f; }

.nav-menu a:after {
  content: "";
  border-bottom: 1px solid #40403f;
  border-top: 1px solid #202020;
  left: 8%;
  position: absolute;
  top: -2px;
  width: 82%; }

/*search-box*/
.search-box {
  display: block;
  float: left;
  margin: 1px auto; }
  .search-box input {
    float: left;
    box-sizing: border-box;
    width: 178px;
    height: 38px;
    padding-left: 20px;
    border: none;
    color: #ffffff;
    background: #393837; }
  .search-box button {
    width: 38px;
    height: 38px;
    margin-left: 1px;
    border: none;
    text-align: center;
    color: #f4d401;
    background: #393837;
    cursor: pointer; }

/*triangle*/
.nav-menu .list-warning-down:after,
.nav-menu .list-drop-warning-down:after,
.nav-menu li:hover > a:before,
.nav-menu ul li:first-child > a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid; }

/*nav triangle down*/
.nav-menu .list-warning-down:after {
  top: 15px;
  left: 216px;
  border-width: 5px 5px 0;
  border-color: #ffffff transparent transparent; }

/*nav-menu triangle down*/
.nav-menu .list-drop-warning-down:after {
  top: 16px;
  left: 176px;
  border-width: 5px 5px 0;
  border-color: #ffffff transparent transparent; }

/*nav-menu triangle right*/
.nav-menu li:hover > a:before {
  top: 12px;
  left: 0;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #f4d401; }

.nav-menu ul li:first-child > a:after {
  top: 12px;
  left: -16px;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #f4d401; }
