/*header*/
/*nav*/
body {
  background: #101010; }

.page {
  height: 100%;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  width: 1214px;
  height: 42px;
  background: #000000; }

.nav .nav-item {
  list-style: none; }
  .nav .nav-item li {
    float: left; }
  .nav .nav-item a {
    float: left;
    text-decoration: none;
    color: #fff; }
