* {
  padding: 0;
  margin: 0; }

body {
  background: #101010; }

.content {
  width: 100%;
  height: 100%;
  background: #101010;
  position: relative; }

.header {
  width: 1240px;
  height: 52px;
  border: 7px solid #393837;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -623px;
  margin-top: -250px; }
  .header .header-left {
    width: 995px;
    height: 52px;
    float: left;
    background: #101010; }
    .header .header-left .nav {
      list-style-type: none; }
    .header .header-left .nav li {
      float: left;
      width: 188px;
      height: 52px;
      position: relative; }
    .header .header-left .nav li a {
      display: inline-block;
      width: 188px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      color: #fff;
      text-decoration: none; }
      .header .header-left .nav li a:hover {
        color: #ffdd00; }
    .header .header-left .nav li ul {
      display: none; }
    .header .header-left .nav li:hover ul {
      display: block; }
    .header .header-left .nav li ul {
      width: 188px;
      height: 300px;
      background: #393837;
      list-style-type: none;
      box-sizing: border-box;
      position: absolute; }
      .header .header-left .nav li ul li {
        margin: 0px;
        width: 188px;
        height: 35px;
        padding: 5px;
        position: relative; }
        .header .header-left .nav li ul li ul {
          position: absolute;
          left: 188px; }
        .header .header-left .nav li ul li:hover ul {
          display: block; }
      .header .header-left .nav li ul li a {
        display: inline-block;
        border-bottom: 1px solid #101010;
        width: 178px;
        line-height: 35px;
        height: 35px;
        text-align: left;
        color: #ababab;
        text-decoration: none; }
        .header .header-left .nav li ul li a:hover {
          color: #ffdd00;
          display: block; }
  .header .header-right {
    width: 245px;
    height: 50px;
    float: left;
    margin: 1px auto;
    box-sizing: border-box;
    background: #101010; }
    .header .header-right > input {
      width: 183px;
      height: 50px;
      box-sizing: border-box;
      padding-left: 17px;
      border: none;
      color: #a3a3a3;
      background: #393837; }
    .header .header-right > button {
      height: 50px;
      width: 50px;
      color: #a3a3a3;
      background: #393837;
      border: none;
      cursor: pointer; }
