* {
  padding: 0;
  margin: 0; }

body {
  background: #101010; }

.content {
  width: 100%;
  height: 100%;
  background: #101010;
  position: relative; }

.header {
  width: 1240px;
  height: 52px;
  border: 7px solid #393837;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -623px;
  margin-top: -250px; }
  .header .header-left {
    width: 995px;
    height: 52px;
    float: left;
    background: #101010; }
    .header .header-left .nav {
      list-style-type: none;
      position: relative; }
    .header .header-left .nav li {
      float: left;
      width: 188px;
      height: 52px; }
    .header .header-left .nav li a {
      display: inline-block;
      width: 188px;
      height: 52px;
      line-height: 52px;
      text-align: center;
      color: #fff;
      margin: 0px 10px;
      text-decoration: none; }
    .header .header-left .nav .item {
      width: 188px;
      height: 300px;
      background: #393837;
      list-style-type: none;
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      left: 188px;
      top: 58px; }
      .header .header-left .nav .item li {
        float: left;
        margin: 0px; }
      .header .header-left .nav .item li a {
        display: inline-block;
        border-bottom: 1px solid #101010;
        width: 188px;
        line-height: 40px;
        height: 40px;
        text-align: center;
        color: #ababab;
        text-decoration: none; }
  .header .header-right {
    width: 245px;
    height: 50px;
    float: left;
    margin: 1px auto;
    box-sizing: border-box;
    background: #101010; }
    .header .header-right > input {
      width: 183px;
      height: 50px;
      box-sizing: border-box;
      padding-left: 17px;
      border: none;
      color: #a3a3a3;
      background: #393837; }
    .header .header-right > button {
      height: 50px;
      width: 50px;
      color: #a3a3a3;
      background: #393837;
      border: none;
      cursor: pointer; }
