body {
  background:$body-bg;
}
.page {
  height: 100%;
  min-height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 1214px;
	border: 5px solid $gray;
	padding: 1px;
	box-sizing: border-box;
  background: #000000;
}

.nav {
  display: flex;
  justify-content: center;
	align-items: center;
	background: #171716;
    .nav-item {
      list-style: none;
			margin: 0;
			padding: 0;
			padding-left: 32px;
			padding-right: 42px;
        li {
					float: left;
					position: relative;
					padding: 10px 19px;
        }
        a {
          text-decoration: none;
					color: #fff;
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: bold;
        }
		}

		.nav-item-sub {
			position: absolute;
			top: 20px;
			left: 0px;
			display: none;
			width: 100%;
			margin: 0;
			margin-top: 14px;
			padding: 5px 0px;
			list-style: none;
			background: transparent;

			li {
				float: none;
				display: block;
				position: relative;
				text-transform: uppercase;
				background: $gray;
			}
			a {
				display: inline-block;
				font-size: 1rem;
				font-weight: bold;
				text-decoration: none;
				color: #fff;
			}
		}
}


.nav-item li:hover {
	&>a {
		color: #ffd400;
		text-indent: 1em;
	}
}

.nav-item-sub li:first-child::before {
	display: none;
}

.nav-item-sub li::before {
	content: "";
	position: absolute;
	width: 80%;
	top: 0px;
	left: 10%;
	border-top: 1px solid #202020;
	border-bottom: 1px solid #3d3d3c;
}

/*
.nav-item-sub li::after {
	content: "";
	position: absolute;
	width: 80%;
	bottom: 0;
	left: 10%;
	border: 1px solid #3d3d3c;
}*/

.nav-item li:hover >.nav-item-sub {
	display: block;
}

.nav-item-sub li:hover >ul {
	display: block;
}

.nav-item-sub>li ul {
	z-index: 1;
	position: absolute;
	display: none;
	top: 0;
	width: 100%;
	left: 100%;
	margin: -5px;
	margin-top: 0;
	padding: 10px;
	padding-top: 0;
	background: transparent;
}

.nav-item-sub li {
	&:hover {
		border-top: 1px solid #404040;
		border-bottom: 1px solid #404040;
		background: linear-gradient(#080808, #101010, #171715);
	}
	&:hover:first-child {
		border: none;
	}
	&:hover::before{
		border: none;
	}
	&:hover + li::before{
		border: none;
	}
}

.nav-item-sub li:hover> a{
	color: #ffd400;
}

.search-box {
	display: flex;
	justify-content: space-between;
	.search-text {
		width: 178px;
		height: 38px;
		margin: 0;
		padding: 16px 20px;
		margin-right: 2px;
		border: 0 none;
		box-sizing: border-box;
		background: $gray;
	}
	.search-btn {
		width: 38px;
		height: 38px;
		border: 0 none;
		box-sizing: border-box;
		background: $gray;
		background-image: url(../images/search.png);
		background-repeat: no-repeat;
		background-position: center;
	}
}
/*clear both*/

.nav:before,
.nav:after {
	 content: "";
	 display: table;
}

.nav:after {
	clear: both;
}

ul:before,
ul:after {
	 content: "";
	 display: table;
}

ul:after {
	clear: both;
}