.navbar-nav,
.nav-sub,
.nav-sub ul,
.navbar-search input,
.navbar-search button{
	padding: 0;
	margin: 0;
}

.navbar-nav,
.nav-sub,
.nav-sub ul{
	list-style: none;
}
body{
	background:$body-bg;
}
nav{
	display: block;
  float:left;
}

/*header style*/

.header-navbar{
	position:relative;
	box-sizing: border-box;
	width: $header-width;
	height: $header-height;
	border: $border solid $header-color-border;
	margin:$header-margin-top auto;
	background:$header-color-bg;
	&:before{
		z-index: 1;
		position: absolute;
		top: $header-before-top;
		left: $header-before-left;
		width: $header-img-width;
		height: $header-height;
		content: "";
		background:url(../images/header2.png) no-repeat;
	}
}

/*navbar-nav*/

.navbar-nav{
	float:left;
	box-sizing: border-box;
	width: $nav-width;
	height: $nav-height;
	margin: 1px auto;
	ul{
		z-index: 1;
		position: absolute;
		display: none;
		top: $nav-ul-top;
		left: $nav-ul-right;
		margin: $nav-ul-margin;
		padding: $nav-ul-margin;
		display: none;
		background: transparent;
		ul{
			left: $nav-ul-ul-left;
			top:$nav-ul-ul-t;
			li{
				display: block;
				float: none;
			}
		}
	}
	li{
		float:left;
		position: relative;
		padding: $nav-li-padding-tb $nav-li-padding-lr;
	}
	>li{
		background: $nav-sub-li;
	}
	a{
		float:left;
		color:$white;
		font: bold $nav-font-size Arial, Helvetica;
		text-decoration: none;
		text-transform: uppercase;
	}
}

/*高亮*/

.navbar-nav .active{
	&:before{
		content: "";
		z-index:1;
		position:absolute;
		top: $nav-highlight-top;
		left: $nav-highlight-left;
		width: $nav-height;
		height: $active-before-h;
		background: linear-gradient(to right,$nav-sub-bg-l 0%,$nav-sub-bg-m 50%,$nav-sub-bg-r 100%);
	}
	&:after{
		content: "";
		position:absolute;
		top: $nav-highlight-top;
		left: $nav-highlight-left;
		width: $nav-highlight-width;
		height: $active-after-h;
		background:$nav-sub-bg-l;
		opacity: $active-opacity;
	}
}

/*clear both*/

nav:before,
nav:after {
	 content: "";
	 display: table;
}

nav:after {
	clear: both;
}

.navbar-nav:before,
.navbar-nav:after {
	 content: "";
	 display: table;
}

.navbar-nav:after {
	clear: both;
}

/*nav-sub hover*/

.navbar-nav li:hover>a{
	color:$nav-li-hover-a;
	border:none;
}

.navbar-nav li:hover>ul{
	display: block;
}

.nav-sub{
	ul{
		width: $width;
	}
	li{
		padding: 0;
		width: $width;
		height: $nav-height;
		text-align: center;
		background: $nav-sub-li-bg;
	}
	li:hover{
		z-index:1;
		box-sizing: border-box;
		border-bottom: $nav-sub-li-hover-line-weight solid $nav-sub-li-hover-line;
		border-top: $nav-sub-li-hover-line-weight solid $nav-sub-li-hover-line;
		background: linear-gradient($nav-sub-line-right,$nav-sub-line-middle,$nav-sub-line-left);
		>a{
			text-indent: $nav-a-text-indent;
		}
		&>.list-drop-warning-down{
			display: none;
		}
	}
	a{
		display: inline-block;
		width: $nav-sub-a-w;
		height: $nav-a-height;
		line-height: $nav-a-height;
		padding: $nav-sub-a-p $nav-sub-a-p $nav-sub-a-p $nav-sub-a-p-b;
		float: none;
		color:$nav-sub-font-color;
		font-size: $nav-sub-font-size;
		text-align:left;
		text-transform: uppercase;
	}
}

/*nav-sub line*/

.nav-sub a:after{
	content: "";
	position: absolute;
	top: $nav-sub-a-after-t;
	left: $nav-sub-a-after-l;
	width: $nav-sub-a-after-w;
	border-bottom:$nav-sub-li-hover-line-weight solid $nav-sub-line-bottom;
	border-top:$nav-sub-li-hover-line-weight solid $nav-sub-line-top;
}

.nav-sub  li:hover>a:after,
.nav-sub  li:first-child>a:after{
	border: none;
}

.nav-sub  li:first-child{
	border-top: none;
}

.navbar-nav ul:after,.navbar-nav ul:after{
	content: "";
	position: absolute;
	bottom: $nav-ul-after-b;
	left: $nav-ul-after-l;
	width: $width;
	border-bottom: $nav-sub-li-hover-line-weight solid $nav-ul-after-border;
}

/*navbar-search*/

.navbar-search {
	display: block;
	float:left;
	margin: 1px auto;
	input {
		float:left;
		box-sizing: border-box;
		width: $input-width;
		height: $nav-height;
		padding-left: $navbar-search-input-p-l;
		border: none;
		color: $navbar-search-input-color;
		background: $navbar-search-input-bg;
	}
	button {
		width: $button-width;
		height: $nav-height;
		margin-left: 1px;
		border: none;
		text-align: center;
		color: $light-yellow;
		background-color: $gray;
		background-image: url(../images/search.png);
		background-repeat: no-repeat;
		background-position:center;
		cursor: pointer;
	}
}

/*triangle*/

.nav-sub .list-warning-down:after,
.nav-sub .list-drop-warning-down:after,
.nav-sub li:hover>a:before,
.nav-sub  ul li:first-child > a:after{
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style:solid;
}

/*nav triangle down*/

.nav-sub .list-warning-down:after{
	top:$nav-sub-list-warning-down-t;
	left:$nav-sub-list-warning-down-l;
	border-width:$triangle-width  $triangle-width  0;
	border-color:$white transparent transparent;
}

/*nav-sub triangle down*/

.nav-sub .list-drop-warning-down:after{
	top: $nav-sub-list-drop-warning-down-t;
	left:$nav-sub-list-drop-warning-down-l;
	border-width:$triangle-width $triangle-width  0;
	border-color:$white transparent transparent;
}

/*nav-bar triangle right*/

.nav-sub li:hover>a:before {
	top: $nav-sub-li-hover-t;
	left:$nav-sub-li-hover-l;
	border-width:$triangle-width  0 $triangle-width  $triangle-width ;
	border-color:transparent transparent transparent $light-yellow
}

.nav-sub  ul li:first-child > a:after{
	top:$nav-sub-first-child-t;
	left:$nav-sub-first-child-l;
	border-width:$triangle-width  0 $triangle-width  $triangle-width ;
	border-color:transparent transparent transparent $light-yellow
}
