$header-width:1146px;
$header-height:46px;
$nav-width:920px;
$nav-top:180px;
$list-width:176px;
$input-width:150px;
$button-width:44px;
$border:6px;
$nav-padding-top:14px;
$nav-padding-left:19px;

$font-size:16px;

$gray:#393837;
$black:#181817;
$light-yellow:#f4d401;
$white:#fff;
$light-gray:#b9b9b9;


body,
.nav,
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background:$black;
}
.header input,.header button{
	padding: 0px;
	margin: 0px;
}
.header{
	width:$header-width;
	height: $header-height;
	border:6px solid $gray;
	background:$black;
	position: absolute;
    top:180px;
	left: 18%;
	.header-right{
		width:226px;
		height: $button-width;
		display: inline-block;
		float: left;
		margin:1px auto;
	}
	input{
		width:$input-width;
		height: $button-width;
		background:$gray;
		border:none;
		padding-left:20px;
		color:$white;
	}
	button{
		width:$button-width;
		height: $button-width;
		background:$gray;
		border:none;
		text-align: center;
		color:$light-yellow;
	}
}
.sub:after{
	position: absolute;
		left:210px;
		top: 20px;
		content: "";
		width: 0px;
		height: 0px;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		border-top: 5px solid $white;
}
.sub-item:after{
		position: absolute;
		left:156px;
		top: 16px;
		content: "";
		width: 0px;
		height: 0px;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		border-top: 5px solid $white;
}
.nav .nav-bottom{
		width:60px;
		height: $header-height;
		border-top:3px solid $white;
		-webkit-filter: blur(2px);
    	filter: blur(2px);
		position:absolute;
		top:44px;
		left: 25px;
		transition:left .5s ease-in-out;
}
.nav{
	width:$nav-width;
	display: inline-block;
	float: left;
	li ul li:hover>a:before {
		position: absolute;
		left: 0px;
		top: 12px;
		content: "";
		width: 0px;
		height: 0px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #f4d401;
	}
	li{
		float:left;
		position:relative;
		&:hover>a{
			color:$light-yellow;
	}
		&:hover>ul{
			display: block;
		}
	}
	a{
		float:left;
		text-align: center;
		padding:$nav-padding-top $nav-padding-left;
		color:$white;
		text-transform: uppercase;
		font:bold $font-size Arial;
		text-decoration: none;
	}
	ul{
		position:absolute;
		width: $list-width;
		top:46px;
		left:20px;
		background:$gray;
		display: none;
		li:hover{
				background:$black;
				& .sub-item{
					display: none;
				}
			}
		ul{	
			top:0px;
			left:176px;
			li:first-child > a:after{
				position:absolute;
				left:-16px;
				top:12px;
				content: "";
				width:0px;
				height:0px;
				border-top:5px solid transparent;
				border-bottom:5px solid transparent;
				border-left:5px solid $light-yellow;
			}
			
		}
		a{
			width: 156px;
			padding: 10px;
			display: block;
			text-align: left;
			text-transform: uppercase;
			border-bottom:1px solid $black;
			text-decoration: none;
		}
	}
}