$body-bg: #101010 !default;
$nav-bg:#171716 !default;
$gray:#393837 !default;
$yellow:#ffd400 !default;
$white:#ffffff !default;
$black:#000000 !default;

$black-1:#080808 !default;
$black-2:#101010 !default;
$black-3:#171715 !default;

$nav-item-sub-a-color:#b1b0b0 !default;

$nav-item-sub-li-border-top:#202020 !default;
$nav-item-sub-li-border-bottom:#3d3d3c !default;

$nav-item-sub-li-border-hover:#404040 !default;
