$width:100%;
$header-width:1224px;
$header-height:50px;
$header-margin-top:180px;
$header-img-width:30px;
$nav-width:992px;
$nav-height:38px;
$nav-a-height:36px;
$input-width:178px;
$button-width:38px;
$border:5px;
$nav-font-size:17px;
$nav-sub-font-size:15px;
$active-before-h:2px;
$active-after-h:4px;
$active-opacity:0.3;

$gray:#393837;
$nav-sub-li-bg:$gray;
$black:#101010;
$body-bg:$black;
$light-yellow:#f4d401;
$nav-li-hover-a:$light-yellow;
$white:#ffffff;
$light-gray:#b9b9b9;
$header-color-border:$gray;
$header-color-bg:$black;
$nav-sub-bg-l:#454443;
$nav-sub-bg-m:#d0d0cf;
$nav-sub-bg-r:#585756;
$nav-sub-li:#171715;
$nav-sub-line-bottom:#40403f;
$nav-sub-line-top:#202020;
$nav-sub-line-left:#171715;
$nav-sub-line-middle:#101010;
$nav-sub-line-right:#080808;
$nav-sub-li-hover-line:#434343;
$nav-sub-font-color:#bebebe;
$nav-ul-after-border:#0f0f0f;
$triangle-width:5px;

/*header*/

$header-before-top:-5px;
$header-before-left:-24px;

/*nav*/

$nav-ul-after-b:7px;
$nav-ul-after-l:0;
$nav-ul-top:28px;
$nav-ul-right:5px;
$nav-ul-margin:5px;
$nav-ul-padding:6px;
$nav-ul-ul-t:-10px;
$nav-li-padding-tb:9px;
$nav-li-padding-lr:22px;
$nav-ul-ul-left:98%;
$nav-ul-ul-top:-10px;
$nav-highlight-top:40px;
$nav-highlight-left:35px;
$nav-highlight-width:36px;

$navbar-search-input-p-l:20px;
$navbar-search-input-color:$white;
$navbar-search-input-bg:$gray;
$nav-a-text-indent:1em;
$nav-sub-li-hover-line-weight:1px;
$nav-sub-a-w:85%;
$nav-sub-a-p:0;
$nav-sub-a-p-b:1px;
$nav-sub-a-after-l:8%;
$nav-sub-a-after-t:-2px;
$nav-sub-a-after-w:82%;
$nav-sub-list-warning-down-t:15px;
$nav-sub-list-warning-down-l:216px;
$nav-sub-list-drop-warning-down-t:16px;
$nav-sub-list-drop-warning-down-l:176px;
$nav-sub-li-hover-t:12px;
$nav-sub-li-hover-l:0;
$nav-sub-first-child-t:12px;
$nav-sub-first-child-l:-16px;