
//vars
$black:#101010;
$border-color:#393837;
$button-color:#a3a3a3;
$search-color:#e3bd08;
$list-color:#ababab;
$change-color:#ffdd00;


$width:1240px;
$height:52px;
$item-width:188px;
$item-height:300px;
$list-height:35px;
$list-width:158px;

$right-height:50px;


*{
	padding:0;
	margin:0;
}
body{
	background:$black;

}
.content{
	width:100%;
	height:100%;
	background:$black;
	position:relative;
}
.header{
	width:$width;
	height:$height;
	border:7px  solid $border-color;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-623px;
	margin-top:-250px;
	& .header-left{
		width:995px;
	height:$height;
		float:left;
		background:$black;
		.nav{
			list-style-type: none;
			height:$height;
		}

		.nav li{
			float:left;
			width: $item-width;
			height: $height;
			position:relative;
		}
		.nav>li>a:hover::after{
				content: "";
				width: 0px;
				height: 0px;
				border-left:5px solid transparent;
				border-right:5px solid transparent;
				border-top:5px solid #fff;
			}
		.nav li a{
			display: inline-block;
			width: $item-width;
			height: $height;
			line-height: $height;
			text-align: center;
			color:#fff;
			text-decoration: none;
			&:hover{
				color:$change-color;
			}
		}
		.nav li ul{
			display: none;
		}
		.nav li:hover{
			&>ul{
			display: block;
			}

		}
		.nav li>ul li:hover::before{
				content: "";
				width:0px;
				height:0px;
				border-top:3px solid transparent;
				border-bottom:3px solid transparent;
				border-left:3px solid $change-color;
		}
		.nav li>ul>li:hover::after{
				content: "";
				width:0px;
				height:0px;
				border-top:3px solid transparent;
				border-bottom:3px solid transparent;
				border-left:3px solid $change-color;
		}
		.nav li ul{
		width:$item-width;
		height:$item-height;
		background:$border-color;
		list-style-type:none;
		box-sizing:border-box;
		position:absolute;
		li{
			margin:0px;
			padding:0px;
			width:$item-width;
			height:$list-height;
			position:relative;
			text-align: center;
			& ul{
				position:absolute;
				top:-6px;
				left: 192px;
				display: none;
			}
			&:hover{
			background:$black;
			}
		}
		li a{
		display: inline-block;
		border-bottom:1px solid $black;
		width:$list-width;
		line-height: $list-height;
		height:$list-height;
		color:$list-color;
		text-decoration: none;
		text-align:left;
		&:hover{
			color:$change-color;
			}
		}
	}
}
	

	
	& .header-right{
		width:1240px-995px;
		height:$right-height;
		float:left;
		margin:1px auto;
		box-sizing:border-box;
		background:$black;
		&>input{
			width:183px;
			height:$right-height;
			box-sizing:border-box;
			padding-left:17px;
			border:none;
			color:$button-color;
			background:$border-color;
		}
		&>button{
			height:$right-height;
			width:$right-height;
			color:$button-color;
			background:$border-color;
			border:none;
			cursor: pointer;
		}
	}

}
