$black:#101010;
$border-color:#393837;
$button-color:#a3a3a3;
$search-color:#e3bd08;
$list-color:#ababab;


$width:1240px;
$height:52px;
$item-width:188px;
$item-height:300px;
$list-height:40px;

$right-height:50px;


*{
	padding:0;
	margin:0;
}
body{
	background:$black;

}
.content{
	width:100%;
	height:100%;
	background:$black;
	position:relative;
}
.header{
	width:$width;
	height:$height;
	border:7px  solid $border-color;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-623px;
	margin-top:-250px;
	& .header-left{
		width:995px;
	height:$height;
		float:left;
		background:$black;
		.nav{
			list-style-type: none;
			position:relative;
		}
		.nav li{
			float:left;
			width: $item-width;
			height: $height;
		}
		.nav li a{
			display: inline-block;
			width: $item-width;
			height: $height;
			line-height: $height;
			text-align: center;
			color:#fff;
			margin: 0px 10px;
			text-decoration: none;
		}
		.nav .item{
		width:$item-width;
		height:$item-height;
		background:$border-color;
		list-style-type:none;
		display:inline-block;
		box-sizing:border-box;
		position:absolute;
		left:$item-width;
		top:58px;
		li{
			float: left;
			margin:0px;

		}
		li a{
		display: inline-block;
		border-bottom:1px solid $black;
		width:$item-width;
		line-height: $list-height;
		height:$list-height;
		text-align: center;
		color:$list-color;
		text-decoration: none;
	}
}
	}

	& .header-right{
		width:1240px-995px;
		height:$right-height;
		float:left;
		margin:1px auto;
		box-sizing:border-box;
		background:$black;
		&>input{
			width:183px;
			height:$right-height;
			box-sizing:border-box;
			padding-left:17px;
			border:none;
			color:$button-color;
			background:$border-color;
		}
		&>button{
			height:$right-height;
			width:$right-height;
			color:$button-color;
			background:$border-color;
			border:none;
			cursor: pointer;
		}
	}

}
